.navbar{
    background-color:#252525;
    color: white;
}

#inicio{
    color: white;
    background-image: url("Imagens/Imagem\ de\ fundo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%; /*Deixa a foto esticada na sessão toda */
    height: 500px;
    width: 100%;
}


#sobre{ /*Aqui vai editar o Sobre mim */ 
    background-color: teal;
    color: white;
}

#servico-menu{
    background-color: #252525;
    color: white;
}
#portfolio-menu {
    background-color: tomato;
}

#contato-menu{
    background-color: turquoise;
}
#rodape{
    background-color: #252525;
    color: white;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;
}

#cores{
    color: white;
  
}
#jonathas{
    text-align:left;
    margin-left: 100px;
}

#nomeJonathas{
    text-align: left;
    margin-left: 100px;
    font-family: 'montserrat', sans-serif;
    color: tomato;
    font-size: 50px;

}